<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#FDFEFE">

        <title> Design Bee Studio</title>
        <link rel="icon" href="logo.png" type="image/gif" sizes="16x16">

        <!-- Prevent the demo from appearing in search engines -->
        <meta name="robots"
              content="noindex">

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="./public/vendor/spinkit.css"
              rel="stylesheet">

        <!-- Perfect Scrollbar -->
        <link type="text/css"
              href="./public/vendor/perfect-scrollbar.css"
              rel="stylesheet">

        <!-- Material Design Icons -->
        <link type="text/css"
              href="./public/css/material-icons.css"
              rel="stylesheet">

        <!-- Font Awesome Icons -->
        <link type="text/css"
              href="./public/css/fontawesome.css"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="./public/css/preloader.css"
              rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css"
              href="./public/css/app.css"
              rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        

        <style>
            body {font-family: Arial;}
            
            /* Style the tab */
            .tab {
              overflow: hidden;
              border: 1px solid #ccc;
              background-color: #f1f1f1;
            }
            
            /* Style the buttons inside the tab */
            .tab button {
              background-color: inherit;
              float: left;
              border: none;
              outline: none;
              cursor: pointer;
              padding: 14px 16px;
              transition: 0.3s;
              font-size: 17px;
            }
            
            /* Change background color of buttons on hover */
            .tab button:hover {
              background-color: #ddd;
            }
            
            /* Create an active/current tablink class */
            .tab button.active {
              background-color: #ccc;
            }
            
            /* Style the tab content */
            .tabcontent {
              display: none;
              padding: 6px 12px;
              border: 1px solid #ccc;
              border-top: none;
            }

            .quick:hover{
                        height: 130px;
                        width: 350px;
                    }
            .quick1:hover{
                height: 110px;
                width: 350px;
            }
            </style>

    
    </head>

    <body class="layout-sticky-subnav layout-default ">

        <div class="preloader">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>

            <!-- <div class="sk-bounce">
                    <div class="sk-bounce-dot"></div>
                    <div class="sk-bounce-dot"></div>
            </div> -->

            <!-- More spinner examples at https://github.com/tobiasahlin/SpinKit/blob/master/examples -->
        </div>

        <!-- Header Layout -->
        <div class="mdk-header-layout js-mdk-header-layout">

            <!-- Header -->

            <div id="header"
                 class="mdk-header js-mdk-header mb-0"
                 data-fixed
                 data-effects="">
                <div class="mdk-header__content">

                    <!-- Navbar -->

                    <div class="navbar navbar-expand pr-0 navbar-dark-pickled-bluewood navbar-shadow"
                         id="default-navbar"
                         data-primary>

                        <!-- Navbar Toggler -->

                        <button class="navbar-toggler w-auto mr-16pt d-block rounded-0"
                                type="button"
                                data-toggle="sidebar">
                            <span class="material-icons">short_text</span>
                        </button>

                        <!-- // END Navbar Toggler -->

                        <!-- Navbar Brand -->

                        <a href="/home"
                           class="navbar-brand mr-16pt">

                            <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

                                <span class="avatar-title rounded"><img src="logo.jpg"
                                    alt="logo"
                                    class="img-fluid" /></span>

                            </span>

                            <span class="d-none d-lg-block">Welcome Admin</span>
                        </a>

                        <!-- // END Navbar Brand -->

                        

                        <!-- // END Navbar Search -->

                        <div class="flex"></div>

                        <!-- Navbar Menu -->

                        <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">

                            <div class="nav-item dropdown">
                                <a href="#"
                                   class="nav-link d-flex align-items-center dropdown-toggle"
                                   data-toggle="dropdown"
                                   data-caret="false">

                                    <span class="avatar avatar-sm mr-8pt2">

                                        <span class="avatar-title rounded-circle bg-primary"><i class="material-icons">account_box</i></span>

                                    </span>

                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-header"><strong>Account</strong></div>
                                    <a class="dropdown-item"
                                       href="/edit-account">Edit Account</a>
                                    <a class="dropdown-item"
                                       href="/logout">Logout</a>
                                </div>
                            </div>
                        </div>

                        <!-- // END Navbar Menu -->

                    </div>

                    <!-- // END Navbar -->

                </div>
            </div>

            <!-- // END Header -->

            <div class="mdk-header-layout__content content">
                <div class="tab">
                    <button class="tablinks" onclick="openCity(event, 'yearly_stats')" id="defaultOpen">Yearly Stats</button>
                    <button class="tablinks" onclick="openCity(event, 'monthly_stats')">Monthly Stats</button>
                    <button class="tablinks" onclick="openCity(event, 'daily_stats')">Daily Stats</button>
                </div>
            </div>

            

            <!-- Header Layout Content -->
            <div class="tabcontent" id="yearly_stats">


                <div class="pt-32pt">
                    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                        <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">

                            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                                <h2 class="mb-0">Yearly Statistics</h2>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="page-section border-bottom-2">
                    <div class="container page__container">

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card border-1 border-left-3 border-left-accent text-center mb-lg-0 quick1">
                                    <div class="card-body" id="total_credit_yearly">
                                        
                                    </div>

                            
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card text-center mb-lg-0 border-1 border-left-3 border-left-accent quick1">
                                    <div class="card-body" id="total_debit_yearly">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card text-center mb-lg-0 border-1 border-left-3 border-left-accent quick1">
                                    <div class="card-body" id="total_earning_yearly">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
                
            </div>

            <div class="tabcontent" id="monthly_stats">

                <div class="pt-32pt">
                    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                        <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">

                            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                                <h2 class="mb-0">Monthly Statistics</h2>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="page-section border-bottom-2">
                    <div class="container page__container">

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card border-1 border-left-3 border-left-accent text-center mb-lg-0 quick1">
                                    <div class="card-body" id="total_credit_monthly">
                                        
                                    </div>

                            
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card text-center mb-lg-0 border-1 border-left-3 border-left-accent quick1">
                                    <div class="card-body" id="total_debit_monthly">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card text-center mb-lg-0 border-1 border-left-3 border-left-accent quick1">
                                    <div class="card-body" id="total_earning_monthly">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
              
            </div>

            <div class="tabcontent" id="daily_stats">


                <div class="pt-32pt">
                    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                        <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">

                            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                                <h2 class="mb-0">Daily Statistics</h2>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="page-section border-bottom-2">
                    <div class="container page__container">

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card border-1 border-left-3 border-left-accent text-center mb-lg-0 quick1">
                                    <div class="card-body" id="total_credit_daily">
                                        
                                    </div>

                            
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card text-center mb-lg-0 border-1 border-left-3 border-left-accent quick1">
                                    <div class="card-body" id="total_debit_daily">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card text-center mb-lg-0 border-1 border-left-3 border-left-accent quick1">
                                    <div class="card-body" id="total_earning_daily">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
              
            </div>
            <!-- // END Header Layout Content -->

            <!-- Footer 

            <div class="bg-white border-top-2 mt-auto">
                <div class="container page__container page-section d-flex flex-column">
                    <p class="text-70 brand mb-24pt">
                        <img class="brand-icon"
                             src="./public/images/logo/black-70@2x.jpeg"
                             width="30"
                             alt="Luma"> Luma
                    </p>
                    <p class="measure-lead-max text-50 small mr-8pt">Luma is a beautifully crafted user interface for modern Education Platforms, including Courses & Tutorials, Video Lessons, Student and Teacher Dashboard, Curriculum Management, Earnings and Reporting, ERP, HR, CMS, Tasks, Projects, eCommerce and more.</p>
                    <p class="mb-8pt d-flex">
                        <a href=""
                           class="text-70 text-underline mr-8pt small">Terms</a>
                        <a href=""
                           class="text-70 text-underline small">Privacy policy</a>
                    </p>
                    <p class="text-50 small mt-n1 mb-0">Copyright 2019 &copy; All rights reserved.</p>
                </div>
            </div>-->

            <!-- // END Footer -->
            <div class="bg-white border-top-2 mt-auto">
                <div class="container page__container page-section d-flex flex-column">
                    <p class="text-70 brand mb-24pt">
                        <img class="brand-icon"
                             src="maze.jpeg"
                             width="150"
                             alt="mazesoftsolution">
                    </p>
                    <p class="measure-lead-max text-50 small mr-8pt">We have reached an age where the entire world is reduced to a global village. In this realm of connected living and sharing, we envision a future that will redefine the very purpose of our existence. Today, the solutions are more refined than the demand itself. What we get is better than what we asked for. Businesses, big or small, look for companies that will refine their business needs, more than offering a ready solution. They look for companies that offer competitive web and mobile apps development, e-commerce, and Open-source CMS development to propel their business expansion.</p>
                    <p class="text-50 small mt-n1 mb-0">Developed by <a href="http://www.mazesoftsolutions.com/">Maze Soft Solution</a></p>
                </div>
            </div>
        </div>
        <!-- // END Header Layout -->

        <!-- Drawer -->

        <div class="mdk-drawer js-mdk-drawer"
        id="default-drawer">
       <div class="mdk-drawer__content">
           <div class="sidebar sidebar-dark-pickled-bluewood sidebar-left"
                data-perfect-scrollbar>

               <!-- Sidebar Content -->

               <a href="/home"
                  class="sidebar-brand ">
                   <!-- <img class="sidebar-brand-icon" src="./public/images/illustration/student/128/white.svg" alt="Luma"> -->

                   <span class="avatar avatar-xl sidebar-brand-icon h-auto">

                       <span class="avatar-title rounded"><img src="logo.jpg"
                           alt="logo"
                           class="img-fluid" /></span>

                   </span>

                   <span>Welcome Admin</span>
               </a>

               
                   
               <ul class="sidebar-menu">

                   <li class="sidebar-menu-item">
                       <a class="sidebar-menu-button"
                          href="/home">
                           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">home</span>
                           <span class="sidebar-menu-text">Dashboard</span>
                       </a>
                   </li>
                   <ul class="sidebar-menu">

                       <li class="sidebar-menu-item">
                           <a class="sidebar-menu-button js-sidebar-collapse"
                              data-toggle="collapse"
                              href="#enterprise_menu">
                               <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">people_outline</span>
                               Clients
                               <span class="ml-auto sidebar-menu-toggle-icon"></span>
                           </a>
                           <ul class="sidebar-submenu collapse sm-indent"
                               id="enterprise_menu">
                               <li class="sidebar-menu-item">
                                   <a class="sidebar-menu-button"
                                      href="/client">
                                       <span class="sidebar-menu-text">Client</span>
                                   </a>
                               </li>
                               <li class="sidebar-menu-item">
                                   <a class="sidebar-menu-button"
                                      href="/add_client">
                                       <span class="sidebar-menu-text">Add Client</span>
                                   </a>
                               </li>
                           </ul>
                       </li>
                       <li class="sidebar-menu-item">
                           <a class="sidebar-menu-button"
                              data-toggle="collapse"
                              href="#account_menu">
                               <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
                               Quatation
                               <span class="ml-auto sidebar-menu-toggle-icon"></span>
                           </a>
                           <ul class="sidebar-submenu collapse sm-indent"
                               id="account_menu">
                               <li class="sidebar-menu-item">
                                   <a class="sidebar-menu-button"
                                      href="/quatation">
                                       <span class="sidebar-menu-text">Quatation</span>
                                   </a>
                               </li>
                               <li class="sidebar-menu-item">
                                   <a class="sidebar-menu-button"
                                      href="/add_quatation">
                                       <span class="sidebar-menu-text">Create Quatation</span>
                                   </a>
                               </li>
                           </ul>
                       </li>
                       <li class="sidebar-menu-item">
                           <a class="sidebar-menu-button"
                              href="/project">
                               <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">tune</span>
                               <span class="sidebar-menu-text">Project</span>
                           </a>
                       </li>
                   <li class="sidebar-menu-item">
                       <a class="sidebar-menu-button"
                          data-toggle="collapse"
                          href="#ecommerce_menu">
                           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">shopping_cart</span>
                           Finance
                           <span class="ml-auto sidebar-menu-toggle-icon"></span>
                       </a>
                       <ul class="sidebar-submenu collapse sm-indent"
                           id="ecommerce_menu">
                           <li class="sidebar-menu-item">
                               <a class="sidebar-menu-button"
                                  href="/finance">
                                   <span class="sidebar-menu-text">Finance</span>
                               </a>
                           </li>
                           <li class="sidebar-menu-item">
                               <a class="sidebar-menu-button"
                                  href="/add_finance">
                                   <span class="sidebar-menu-text">Add Expenses</span>
                               </a>
                           </li>
                       </ul>
                   </li>

                   <li class="sidebar-menu-item">
                       <a class="sidebar-menu-button"
                          href="/acc_sum">
                           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">receipt</span>
                           <span class="sidebar-menu-text">Total Account Summery</span>
                       </a>
                   </li>
                   <li class="sidebar-menu-item">
                       <a class="sidebar-menu-button"
                          href="/profit_loss">
                           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">trending_up</span>
                           <span class="sidebar-menu-text">Profit/Loss</span>
                       </a>
                   </li>
                   <li class="sidebar-menu-item">
                       <a class="sidebar-menu-button"
                          data-toggle="collapse"
                          href="#messaging_menu">
                           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">people_outline</span>
                           Employee
                           <span class="ml-auto sidebar-menu-toggle-icon"></span>
                       </a>
                       <ul class="sidebar-submenu collapse sm-indent"
                           id="messaging_menu">
                           <li class="sidebar-menu-item">
                               <a class="sidebar-menu-button"
                                  href="/employee">
                                   <span class="sidebar-menu-text">Employee</span>
                               </a>
                           </li>
                           <li class="sidebar-menu-item">
                               <a class="sidebar-menu-button"
                                  href="/add_employee">
                                   <span class="sidebar-menu-text">Add Employee</span>
                               </a>
                           </li>
                       </ul>
                   </li>
                   <li class="sidebar-menu-item">
                       <a class="sidebar-menu-button"
                          data-toggle="collapse"
                          href="#components_menu">
                           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">account_box</span>
                           Users
                           <span class="ml-auto sidebar-menu-toggle-icon"></span>
                       </a>
                       <ul class="sidebar-submenu collapse sm-indent"
                           id="components_menu">
                           <li class="sidebar-menu-item">
                               <a class="sidebar-menu-button"
                                  href="/user">
                                   <span class="sidebar-menu-text">Users</span>
                               </a>
                           </li>
                           <li class="sidebar-menu-item">
                               <a class="sidebar-menu-button"
                                  href="/add_user">
                                   <span class="sidebar-menu-text">Add Users</span>
                               </a>
                           </li>
                       </ul>
                   </li>
                   <li class="sidebar-menu-item">
                       <a class="sidebar-menu-button"
                          href="/system_history">
                           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">access_time</span>
                           <span class="sidebar-menu-text">System History</span>
                       </a>
                   </li>
                   <li class="sidebar-menu-item">
                       <a class="sidebar-menu-button"
                          href="/bin">
                           <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">help</span>
                           <span class="sidebar-menu-text">Recyle Bin</span>
                       </a>
                   </li>
               </ul>
               

               <!-- // END Sidebar Content -->

           </div>
       </div>
   </div>

        <!-- // END Drawer -->

        <!-- jQuery -->
        <script src="./public/vendor/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="./public/vendor/popper.min.js"></script>
        <script src="./public/vendor/bootstrap.min.js"></script>

        <!-- Perfect Scrollbar -->
        <script src="./public/vendor/perfect-scrollbar.min.js"></script>

        <!-- DOM Factory -->
        <script src="./public/vendor/dom-factory.js"></script>

        <!-- MDK -->
        <script src="./public/vendor/material-design-kit.js"></script>

        <!-- App JS -->
        <script src="./public/js/app.js"></script>

        <!-- Preloader -->
        <script src="./public/js/preloader.js"></script>

        <!-- Global Settings -->
        <script src="./public/js/settings.js"></script>

        <!-- Moment.js -->
        <script src="./public/vendor/moment.min.js"></script>
        <script src="./public/vendor/moment-range.js"></script>

        <!-- Chart.js -->
        <script src="./public/vendor/Chart.min.js"></script>

        <!-- UI Charts Page JS -->
        <script src="./public/js/chartjs-rounded-bar.js"></script>
        <script src="./public/js/chartjs.js"></script>

        <!-- Chart.js Samples -->
        <script src="./public/js/page.instructor-dashboard.js"></script>

        <!-- List.js -->
        <script src="./public/vendor/list.min.js"></script>
        <script src="./public/js/list.js"></script>



        <script>
            function openCity(evt, cityName) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(cityName).style.display = "block";
              evt.currentTarget.className += " active";
            }
    
            // Get the element with id="defaultOpen" and click on it
            //document.getElementById("defaultOpen").click();
            

            $(document).ready(function(){

                $('#defaultOpen').click();
            
            });


        </script>
            
            
            <script>
    
                const url1111 = "/dashboard/monthly/getdata";
    
        
    
                fetch(url1111)
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        if(data[0].credit !== null){
                            var credit = data[0].credit;
                        }else {
                            var credit = 0;
                        }
    
                        if(data[0].debit !== null){
                            var debit = data[0].debit;
                        }else {
                            var debit = 0;
                        }
                        
                        if(data[0].earning !== null){
                            var earning = data[0].earning;
                        }else {
                            var earning = 0;
                        }
                        
                        
                        document.getElementById("total_credit_monthly").innerHTML = '<h4 class="h2 mb-0">₹ ' + credit + '</h4>' +
                                            '<div><b>Total Credit This Month</b></div>'
                    
                        document.getElementById("total_debit_monthly").innerHTML = '<h4 class="h2 mb-0">₹ ' + debit + '</h4>' +
                                            '<div><b>Total Debit This Month</b></div>'
    
                        document.getElementById("total_earning_monthly").innerHTML = '<h4 class="h2 mb-0">₹ ' + earning + '</h4>' +
                                            '<div><b>Total Earning This Month</b></div>'
    
                    })
                    .catch(function (err) {
                        console.log('error: ' + err);
                    });
                
                        
            </script>


<script>
    
    const url2222 = "/dashboard/yearly/getdata";



    fetch(url2222)
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            if(data[0].credit !== null){
                var credit = data[0].credit;
            }else {
                var credit = 0;
            }

            if(data[0].debit !== null){
                var debit = data[0].debit;
            }else {
                var debit = 0;
            }
            
            if(data[0].earning !== null){
                var earning = data[0].earning;
            }else {
                var earning = 0;
            }
            
            
            document.getElementById("total_credit_yearly").innerHTML = '<h4 class="h2 mb-0">₹ ' + credit + '</h4>' +
                                '<div><b>Total Credit This Year</b></div>'
        
            document.getElementById("total_debit_yearly").innerHTML = '<h4 class="h2 mb-0">₹ ' + debit + '</h4>' +
                                '<div><b>Total Debit This Year</b></div>'

            document.getElementById("total_earning_yearly").innerHTML = '<h4 class="h2 mb-0">₹ ' + earning + '</h4>' +
                                '<div><b>Total Earning This Year</b></div>'

        })
        .catch(function (err) {
            console.log('error: ' + err);
        });
    
            
</script>

<script>
    
    const url3333 = "/dashboard/daily/getdata";



    fetch(url3333)
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            if(data[0].credit !== null){
                var credit = data[0].credit;
            }else {
                var credit = 0;
            }

            if(data[0].debit !== null){
                var debit = data[0].debit;
            }else {
                var debit = 0;
            }
            
            if(data[0].earning !== null){
                var earning = data[0].earning;
            }else {
                var earning = 0;
            }
            
            
            document.getElementById("total_credit_daily").innerHTML = '<h4 class="h2 mb-0">₹ ' + credit + '</h4>' +
                                '<div><b>Total Credit Today</b></div>'
        
            document.getElementById("total_debit_daily").innerHTML = '<h4 class="h2 mb-0">₹ ' + debit + '</h4>' +
                                '<div><b>Total Debit Today</b></div>'

            document.getElementById("total_earning_daily").innerHTML = '<h4 class="h2 mb-0">₹ ' + earning + '</h4>' +
                                '<div><b>Total Earning Today</b></div>'

        })
        .catch(function (err) {
            console.log('error: ' + err);
        });
    
            
</script>

    </body>

</html>