<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#FDFEFE">

        <title> Design Bee Studio</title>
        <link rel="icon" href="logo.png" type="image/gif" sizes="16x16">

        <!-- Prevent the demo from appearing in search engines -->
        <meta name="robots"
              content="noindex">

        <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="./public/vendor/spinkit.css"
              rel="stylesheet">

        <!-- Perfect Scrollbar -->
        <link type="text/css"
              href="./public/vendor/perfect-scrollbar.css"
              rel="stylesheet">

        <!-- Material Design Icons -->
        <link type="text/css"
              href="./public/css/material-icons.css"
              rel="stylesheet">

        <!-- Font Awesome Icons -->
        <link type="text/css"
              href="./public/css/fontawesome.css"
              rel="stylesheet">

        <!-- Preloader -->
        <link type="text/css"
              href="./public/css/preloader.css"
              rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css"
              href="./public/css/app.css"
              rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/print-js/1.6.0/print.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/print-js/1.6.0/print.css"></script>
        <script scr="https://cdnjs.cloudflare.com/ajax/libs/print-js/1.6.0/print.map"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/print-js/1.6.0/print.min.css"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/print-js/1.6.0/print.min.js"></script>
        
    </head>

    <body class="layout-sticky-subnav layout-default ">

        <div class="preloader">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>

            <!-- <div class="sk-bounce">
                    <div class="sk-bounce-dot"></div>
                    <div class="sk-bounce-dot"></div>
            </div> -->

            <!-- More spinner examples at https://github.com/tobiasahlin/SpinKit/blob/master/examples -->
        </div>

        <!-- Header Layout -->
        <div class="mdk-header-layout js-mdk-header-layout">

            <!-- Header -->

            <div id="header"
                 class="mdk-header js-mdk-header mb-0"
                 data-fixed
                 data-effects="">
                <div class="mdk-header__content">

                    <!-- Navbar -->

                    <div class="navbar navbar-expand pr-0 navbar-dark-pickled-bluewood navbar-shadow"
                         id="default-navbar"
                         data-primary>

                        <!-- Navbar Toggler -->

                        <button class="navbar-toggler w-auto mr-16pt d-block rounded-0"
                                type="button"
                                data-toggle="sidebar">
                            <span class="material-icons">short_text</span>
                        </button>

                        <!-- // END Navbar Toggler -->

                        <!-- Navbar Brand -->

                        <a href="/home"
                           class="navbar-brand mr-16pt">

                            <span class="avatar avatar-sm navbar-brand-icon mr-0 mr-lg-8pt">

                                <span class="avatar-title rounded"><img src="logo.jpg"
                                    alt="logo"
                                    class="img-fluid" /></span>

                            </span>

                            <span class="d-none d-lg-block">Welcome Admin</span>
                        </a>

                        <!-- // END Navbar Brand -->

                        

                        <!-- // END Navbar Search -->

                        <div class="flex"></div>

                        <!-- Navbar Menu -->

                        <div class="nav navbar-nav flex-nowrap d-flex mr-16pt">

                            <div class="nav-item dropdown">
                                <a href="#"
                                   class="nav-link d-flex align-items-center dropdown-toggle"
                                   data-toggle="dropdown"
                                   data-caret="false">

                                    <span class="avatar avatar-sm mr-8pt2">

                                        <span class="avatar-title rounded-circle bg-primary"><i class="material-icons">account_box</i></span>

                                    </span>

                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-header"><strong>Account</strong></div>
                                    <a class="dropdown-item"
                                       href="/edit-account">Edit Account</a>
                                    <a class="dropdown-item"
                                       href="/logout">Logout</a>
                                </div>
                            </div>
                        </div>

                        <!-- // END Navbar Menu -->

                    </div>

                    <!-- // END Navbar -->

                </div>
            </div>

            <!-- // END Header -->

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content page-content ">
                <div class="clearfix"></div>
            <div class="content-wrapper">
                <div class="container-fluid softnic-container-fluid">
                    <!-- Breadcrumb-->
                    <div class="row pt-2 pb-2">
                        <div class="col-sm-9">
                            <h4 class="page-title">Quatation</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                                <li class="breadcrumb-item"><a href="javaScript:void();">Quatation</a></li>
                            </ol>
                        </div>
                    </div>
                    <!-- End Breadcrumb-->
                    <div class="page-section container page__container">
                        <!--<div class="row">
                            <div class="col-md-12 p-0">
                                <form id="client_search_form">
                                    <div class="form-group">
                                        <label class="form-label">Client ID</label>
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Client ID"
                                               name="Client_ID"
                                               />
                                    </div>
                                </form>
                                <button class="btn btn-primary" onclick="submit()"><i class="fa fa-search"></i>&nbsp;&nbsp;Search</button>
                            </div>
                        </div>
                        <br><br>-->
                        <div class="row">
                            <div class="col-md-6 p-0">
                                <a href="/corporate-quatation"><button class="btn btn-success"><i class="fa fa-building-o"></i>&nbsp;&nbsp;Corporate Quatation</button></a>
                            </div>
                            <div class="col-md-6 p-0">
                                <a href="/housing-quatation"><button class="btn btn-info"><i class="fa fa-home"></i>&nbsp;&nbsp;Housing Quatation</button></a>
                            </div>
                        </div>
                        <br><br>
                        <!--<div class="row">
                            <div class="col-md-12 p-0">
                                <div class="card table-responsive">
                                    <table class="table table-flush table-nowrap table-light table-striped shadow-light" style="text-align: center;">
                                        <thead>
                                            <tr>
                                                <th scope="col">Client ID</th>
                                                <th scope="col">Corporate Quatation</th>
                                                <th scope="col">Housing Quatation</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            <td scope="col">Demo Client ID</td>
                                            <td scope="col">
                                                <button type="button" class="btn btn-outline-success btn-sm waves-effect waves-light m-1" data-toggle="modal" data-target="#corporate-quatation"> <i class="fa fa-eye"></i> &nbsp;View </button>
                                            </td>
                                            <td scope="col">
                                                <button type="button" class="btn btn-outline-info btn-sm waves-effect waves-light m-1" data-toggle="modal" data-target="#housing-quatation"> <i class="fa fa-eye"></i> &nbsp;View </button>
                                            </td>
                                            <td scope="col">
                                                <button type="button" onclick="remove_quatation()" class="btn btn-outline-danger btn-sm waves-effect waves-light m-1"><i class="fa fa-trash mr-1"></i> &nbsp;Delete </button>
                                            </td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <!-- End container-fluid-->
                <div class="overlay"></div>    
            </div>
            <!--End Header Layout Content-->
            <!--End Back To Top Button-->
            <!-- // END Header Layout Content -->

            <div class="bg-white border-top-2 mt-auto">
                <div class="container page__container page-section d-flex flex-column">
                    <p class="text-70 brand mb-24pt">
                        <img class="brand-icon"
                             src="maze.jpeg"
                             width="150"
                             alt="mazesoftsolution">
                    </p>
                    <p class="measure-lead-max text-50 small mr-8pt">We have reached an age where the entire world is reduced to a global village. In this realm of connected living and sharing, we envision a future that will redefine the very purpose of our existence. Today, the solutions are more refined than the demand itself. What we get is better than what we asked for. Businesses, big or small, look for companies that will refine their business needs, more than offering a ready solution. They look for companies that offer competitive web and mobile apps development, e-commerce, and Open-source CMS development to propel their business expansion.</p>
                    <p class="text-50 small mt-n1 mb-0">Developed by <a href="http://www.mazesoftsolutions.com/">Maze Soft Solution</a></p>
                </div>
            </div>

            <!-- // END Footer -->

        </div>
        <!-- // END Header Layout -->

        </div>


        <!--Modal Start-->

        <!--corporate-quatation-->
        <!--<div class="modal fade" id="corporate-quatation" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Corporate Quatation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body" id="content" style="background-color: white;">
                        <div class="card-body">
                            Bill Header Start
                            <div class="row">
                                <div class="col-sm-4">
                                    <span><img src="logo.png"
                                        alt="logo"
                                        style="height: 200px; width: 200px;">
                                    </span>
                                </div>
                                <div class="col-sm-4">
                                    
                                </div>
                                <div class="col-sm-4">
                                    <p style="font-size: smaller;">PS QUBE, SUITE NO: 501, 5TH FLOOR,</p> 
                                    <p style="font-size: smaller;">RAJARHAT. STREET NO.: 1111 KOLKATA:700135</p>
                                    <p style="font-size: smaller;">Email : designbeestudio@gmail.com</p>
                                    <p style="font-size: smaller;">PHONE NO: +91 9903226666/7980946344</p>
                                    <p style="font-size: smaller;">GST: 19AAQFD6693Q1Z6</p>
                                </div>
                            </div>
                            <hr style="border-color:black; border-width: 3px;">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Mr/Mrs/Miss,</p>
                                    <p>Demo Client Name,</p>
                                    <p>Demo Client Add.</p>
                                </div>
                                <div class="col-sm-4">
                                    
                                </div>
                                <div class="col-sm-4">
                                    <p>Date: Demo Date</p> 
                                </div>
                            </div>

                            <table class="table softnic-profile-table">
                                <thead>
                                    <tr>
                                        <th>Sl. No.</th>
                                        <th>Description Of Item</th>
                                        <th>Unit</th>
                                        <th>Quantity</th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>xyz</td>
                                        <td>xyz</td>
                                        <td>xyz</td>
                                        <td>xyz</td>
                                        <td>xyz</td>
                                        <td>xyz</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h4>Specification Of Materials</h4>
                            <br>
                            <p>Demo Text</p>

                            <h4>Terms and Conditions</h4>
                            <br>
                            <p>Demo Text</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-inverse-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="cmd" onclick=printForm1()><i class="fa fa-download"></i>&nbsp;&nbsp;Generate</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>-->
        <!--corporate-quatation End-->


        <!--House-quatation-->
        <!--<div class="modal fade" id="housing-quatation" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Corporate Quatation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body" id="content" style="background-color: white;">
                        <div class="card-body">
                            Bill Header Start-->
                            <!--<div class="row">
                                <div class="col-sm-4">
                                    <span><img src="logo.png"
                                        alt="logo"
                                        style="height: 200px; width: 200px;">
                                    </span>
                                </div>
                                <div class="col-sm-4">
                                    
                                </div>
                                <div class="col-sm-4">
                                    <p style="font-size: smaller;">PS QUBE, SUITE NO: 501, 5TH FLOOR,</p> 
                                    <p style="font-size: smaller;">RAJARHAT. STREET NO.: 1111 KOLKATA:700135</p>
                                    <p style="font-size: smaller;">Email : designbeestudio@gmail.com</p>
                                    <p style="font-size: smaller;">PHONE NO: +91 9903226666/7980946344</p>
                                    <p style="font-size: smaller;">GST: 19AAQFD6693Q1Z6</p>
                                </div>
                            </div>
                            <hr style="border-color:black; border-width: 3px;">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Mr/Mrs/Miss,</p>
                                    <p>Demo Client Name,</p>
                                    <p>Demo Client Add.</p>
                                </div>
                                <div class="col-sm-4">
                                    
                                </div>
                                <div class="col-sm-4">
                                    <p>Date: Demo Date</p> 
                                </div>
                            </div>

                            <table class="table softnic-profile-table">
                                <thead>
                                    <tr>
                                        <th>PERTICULARS</th>
                                        <th>MESURMENT</th>
                                        <th>SQ.FT</th>
                                        <th>AMOUNT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>demo xyz</td>
                                        <td>demo xyz</td>
                                        <td>demo xyz</td>
                                        <td>demo xyz</td>
                                    </tr>
                                </tbody>
                            </table>

                            <h4>Specification Of Materials</h4>
                            <br>
                            <p>Demo Text</p>

                            <h4>Terms and Conditions</h4>
                            <br>
                            <p>Demo Text</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-inverse-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="cmd" onclick=printForm1()><i class="fa fa-download"></i>&nbsp;&nbsp;Generate</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>-->
        <!--House-quatation End-->
        <!--End Modal-->

        <!-- Drawer -->

        <div class="mdk-drawer js-mdk-drawer"
             id="default-drawer">
            <div class="mdk-drawer__content">
                <div class="sidebar sidebar-dark-pickled-bluewood sidebar-left"
                     data-perfect-scrollbar>

                    <!-- Sidebar Content -->

                    <a href="/home"
                       class="sidebar-brand ">
                        <!-- <img class="sidebar-brand-icon" src="./public/images/illustration/student/128/white.svg" alt="Luma"> -->

                        <span class="avatar avatar-xl sidebar-brand-icon h-auto">

                            <span class="avatar-title rounded"><img src="logo.jpg"
                                alt="logo"
                                class="img-fluid" /></span>

                        </span>

                        <span>Welcome Admin</span>
                    </a>

                    
                        
                    <ul class="sidebar-menu">

                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               href="/home">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">home</span>
                                <span class="sidebar-menu-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               href="/code">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">tune</span>
                                <span class="sidebar-menu-text">Add Code</span>
                            </a>
                        </li>
                        <ul class="sidebar-menu">

                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button js-sidebar-collapse"
                                   data-toggle="collapse"
                                   href="#enterprise_menu">
                                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">people_outline</span>
                                    Clients
                                    <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                </a>
                                <ul class="sidebar-submenu collapse sm-indent"
                                    id="enterprise_menu">
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button"
                                           href="/client">
                                            <span class="sidebar-menu-text">Client</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button"
                                           href="/add_client">
                                            <span class="sidebar-menu-text">Add Client</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button"
                                   data-toggle="collapse"
                                   href="#account_menu">
                                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
                                    Quatation
                                    <span class="ml-auto sidebar-menu-toggle-icon"></span>
                                </a>
                                <ul class="sidebar-submenu collapse sm-indent"
                                    id="account_menu">
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button"
                                           href="/quatation">
                                            <span class="sidebar-menu-text">Quatation</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button"
                                           href="/add_quatation">
                                            <span class="sidebar-menu-text">Create Quatation</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button"
                                   href="/project">
                                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">tune</span>
                                    <span class="sidebar-menu-text">Project</span>
                                </a>
                            </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               data-toggle="collapse"
                               href="#ecommerce_menu">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">shopping_cart</span>
                                Finance
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse sm-indent"
                                id="ecommerce_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/finance">
                                        <span class="sidebar-menu-text">Finance</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/add_finance">
                                        <span class="sidebar-menu-text">Add Expenses</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               href="/acc_sum">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">receipt</span>
                                <span class="sidebar-menu-text">Total Account Summery</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               href="/profit_loss">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">trending_up</span>
                                <span class="sidebar-menu-text">Profit/Loss</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               data-toggle="collapse"
                               href="#messaging_menu">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">people_outline</span>
                                Employee
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse sm-indent"
                                id="messaging_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/employee">
                                        <span class="sidebar-menu-text">Employee</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/add_employee">
                                        <span class="sidebar-menu-text">Add Employee</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               data-toggle="collapse"
                               href="#components_menu">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">account_box</span>
                                Users
                                <span class="ml-auto sidebar-menu-toggle-icon"></span>
                            </a>
                            <ul class="sidebar-submenu collapse sm-indent"
                                id="components_menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/user">
                                        <span class="sidebar-menu-text">Users</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button"
                                       href="/add_user">
                                        <span class="sidebar-menu-text">Add Users</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               href="/system_history">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">access_time</span>
                                <span class="sidebar-menu-text">System History</span>
                            </a>
                        </li>
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button"
                               href="/bin">
                                <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">help</span>
                                <span class="sidebar-menu-text">Recyle Bin</span>
                            </a>
                        </li>
                    </ul>
                    

                    <!-- // END Sidebar Content -->

                </div>
            </div>
        </div>

        <!-- // END Drawer -->

        <!-- jQuery -->
        <script src="./public/vendor/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="./public/vendor/popper.min.js"></script>
        <script src="./public/vendor/bootstrap.min.js"></script>

        <!-- Perfect Scrollbar -->
        <script src="./public/vendor/perfect-scrollbar.min.js"></script>

        <!-- DOM Factory -->
        <script src="./public/vendor/dom-factory.js"></script>

        <!-- MDK -->
        <script src="./public/vendor/material-design-kit.js"></script>

        <!-- App JS -->
        <script src="./public/js/app.js"></script>

        <!-- Preloader -->
        <script src="./public/js/preloader.js"></script>

        <!-- Global Settings -->
        <script src="./public/js/settings.js"></script>

        <!-- Moment.js -->
        <script src="./public/vendor/moment.min.js"></script>
        <script src="./public/vendor/moment-range.js"></script>

        <!-- Chart.js -->
        <script src="./public/vendor/Chart.min.js"></script>

        <!-- UI Charts Page JS -->
        <script src="./public/js/chartjs-rounded-bar.js"></script>
        <script src="./public/js/chartjs.js"></script>

        <!-- Chart.js Samples -->
        <script src="./public/js/page.instructor-dashboard.js"></script>

        <!-- List.js -->
        <script src="./public/vendor/list.min.js"></script>
        <script src="./public/js/list.js"></script>

        <script>
        
            $(document).ready(function() {
            
                $('.softnic-profile-edit-btn').on('click', function(){
                    $('.softnic-profile-edu-table').find('tbody').append('<tr><td><input class="form-control" type="text" name="sl_no[]" placeholder="Sl. No." required></td><td><textarea rows="3" class="form-control" name="desc[]" placeholder="Description of Items" required></textarea></td><td><input class="form-control" type="text" name="unit[]" placeholder="Unit" required></td><td><input class="form-control" type="text" name="quantity[]" placeholder="Quantity" required></td><td><input class="form-control" type="text" name="rate[]" placeholder="Rate" required></td><td><input class="form-control" type="text" name="amount[]" placeholder="Amount" required></td></tr>');
                });
            });

        </script>

        <script>

            $(document).ready(function() {
            
                $('.add-more').on('click', function(){
                    $('.softnic-profile-edu-table').find('tbody').append('<tr><td><input class="form-control" type="text" name="sl_no[]" placeholder="Sl. No." required></td><td><textarea rows="3" class="form-control" name="perticulars[]" placeholder="Perticulars" required></textarea></td><td><input class="form-control" type="text" name="mesurment[]" placeholder="Mesurment" required></td><td><input class="form-control" type="text" name="sq_ft[]" placeholder="Sq.Ft" required></td><td><input class="form-control" type="text" name="amount[]" placeholder="Amount" required></td></tr>');
                });
            });
        
        </script>

        <script>
            //$(document).on('click','#cmd',function(){
            //let pdf = new jsPDF();
            //let section=$('#content');
            //let page= function() {
            //    pdf.save('Daily Expenses Receipt.pdf');
            //
            //};
            
            //pdf.addHTML(section,page);
            //})
            
            function printForm1() {
                 printJS({
                 printable: 'content',
                 type: 'html',
                 targetStyles: ['*'],
                 //header: 'PrintJS - Print Form With Customized Header'
                 })
             }
        </script>

    </body>

</html>